<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <div class="footer-text">
            	<p>Atentamente,</p>
            	<p><strong>El equipo de Athix</strong></p>
            </div>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>