.cms-newhome, .cms-home{
    .container{
        width: 100% !important;
        padding: 0 15px;
    }
    #newhome-slider {
        margin-top: -76px;
        margin-bottom: 0;
        &.responsive-slide {
            .owl-dots {
                bottom: 9px;
                left: 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
                .owl-dot {
                    background-color: transparent;
                    border-color: transparent;
                    width: 16px;
                    opacity: .5;
                    margin: 0;
                    height: 20px;
                    span{
                        width: 7px;
                        height: 7px;
                        background: #fff;
                        display: block;
                        border-radius: 20px;
                        margin: 6px;
                    }
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .hometabs{
        @media (min-width: 768px){
            margin-top: 28px;
        }
 
        ul#tabs{
            display: flex;
            overflow: auto;
            padding: 0 12px;
            @media (min-width: 600px){
                justify-content: center;
            }
            &::-webkit-scrollbar {
                height: 5px;
              }
               
            &::-webkit-scrollbar-thumb {
                background: #fff; 
            }
            scrollbar-color: #ededed #fff;
            scrollbar-width: thin;
            &:after {
                content: '';
                width: 50px;
                height: 40px;
                background: linear-gradient(90deg, transparent, #fff);
                position: absolute;
                right: 0;
                pointer-events: none;
                @media (min-width: 600px){
                    display: none;
                }
            }
            li{
                    font-family: 'Roboto';
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: flex;
                    padding: 0 13px 0;
                    white-space: nowrap;
                    line-height: 1;
                    cursor: pointer;
                    span{
                        border-bottom: 3px solid #fff;
                        transition: border 300ms ease-in-out;
                        display: block;
                        padding: 17px 2px 5px;
                    }
                    &.active{
                        span{
                            border-bottom: 3px solid #940000;
                        }
                    }
                    &:last-child{
                        @media (max-width: 599px){
                            padding-right: 50px;
                        }
                    }
            }
        }
    }
    #tabscontent{

        .actions {
            display: none;
        }
        
        .products-grid{
            display: none;
            flex-wrap: nowrap;
            overflow-x: scroll;
            justify-content: flex-start;
            &.active{
                display: flex;
            }
            &::-webkit-scrollbar {
                height: 5px;
              }
               
            &::-webkit-scrollbar-thumb {
                background: #ccc; 
            }
            scrollbar-color: #ccc #fff;
            scrollbar-width: thin;
            padding: 11px;
            margin-top: -6px;
            &.owl-carousel {
                display: none;
                padding: 0;
                margin: 0;
                overflow-x: visible;
                &.active{
                    display: block;
                }
                .owl-stage { 
                    display: flex;
                }
                .owl-item {
                    display: flex;
                }
            }
            li{
                width: 41vw;
                margin: 10px 5px 10px 5px;
                display: flex;
                flex-direction: column;
                float: none;
                flex: 1 0 auto;
                max-width: 200px;
                min-width: 140px;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid #cfcfcf;
                background: #fff;
                &:hover{
                    box-shadow: 0 2px 13px -5px rgba(0,0,0, 0.4);
                }
            }
            .product-image {
                margin: 0;
                width: 100%;
                img {
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
                }
            }
            h3.product-name {
                margin-bottom: 0;
                color: #4a4a4a;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
                float: left;
                width: 100%;
                font-weight: 500;
                text-transform: lowercase;
                &::first-letter{
                    text-transform: uppercase;
                }
                a {
                    font-weight: 500;
                    font-size: 14px;
                    display: block;
                    padding: 15px 5px 50px 20px;
                    margin-bottom: -50px;
                    position: relative;
                }
            }
            div.price-box {
                float: left;
                width: 100%;
                margin: 0;
                text-align: left;
                float: left;
                padding-bottom: 10px;
                pointer-events: none;
                padding-left: 20px;
                margin-top: auto;
                p{
                    font-style: normal;
                    margin: 0;
                }
                .price {
                    font-weight: 800;
                    line-height: 16px;
                    color: black;
                    font-style: normal;
                    font-size: 17px;
                }
                .old-price{
                    .price{
                        color: #000;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
}

.tabs-content , #homeprods{
    .owl-nav .owl-prev,.owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev, .tabs-content  .owl-carousel .owl-nav .owl-next {
        margin: 16px 11px;
        height: 185px
    }
} 
.category-carousel{
    .widget-title{display: none;}
    h2{
        @media#{$big-phone}{
            font-size: 27px;
        }
        @media#{$min-phone}{
            font-size: 23px;
        }
    }
    .title-container {
        width: 100%;
        float: left;
        margin-top: 30px;
        span.section-head.col-xs-12 {
            text-align: center;
        }
    }
    .title{
        margin: 10px 100px;
        display: flex;
        align-items: center;
        float: left;
        width: 85%;
        justify-content: space-between;
        @media#{$tablet}{
            margin: 10px 17px;
        }
        span{
            text-transform: uppercase;
            font-size: 20px;
            font-family: 'Roboto';
            border-bottom: 3px solid #940000;
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;

        }
        a{
            font-size: 13px;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 55px;
            color: white;
            background: black;
            font-weight: 700;
            @media#{$tablet}{
                color: #676767;
                background: transparent;
                border: 0;
            }
            &:hover, &:focus{
                background-color: #ccc;
                color: black;
            }
        }
    }
}
#homeprods{
    span.cucarda.sale {
        width: 110px;
        text-align: center;
        position: absolute;
        padding: 2px;
        color: #fff;
        opacity: 0.8;
        font-size: 14px;
        top: 0;
        line-height: 18px;
        @media#{$tablet}{
            left: 0;
        }
        span{
            font-weight: 800;
        }
    }  
    @media#{$tablet}{
        scrollbar-color: #ccc #fff;
        scrollbar-width: thin;
        overflow-x: scroll;
        display: flex;
        &::-webkit-scrollbar {
            height: 5px;
        }
                   
        &::-webkit-scrollbar-thumb {
            background: #ccc; 
        }
        scrollbar-color: #ededed #fff;
        scrollbar-width: thin;
    }
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
               
    li{
        width: 41vw;
        margin: 10px 5px 10px 5px;
        display: flex;
        flex-direction: column;
        float: none;
        flex: 1 0 auto;
        max-width: 200px;
        min-width: 140px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #cfcfcf;
        background: #fff;
        &:hover{
            box-shadow: 0 2px 13px -5px rgba(0,0,0, 0.4);
        }
        .product-image{
            margin: 0;
            width: 100%;
            border-radius: 0;
        }
        .product-name{
            font-weight: 500;
            font-size: 14px;
            display: block;
            padding: 15px 5px 50px 20px;
            margin-bottom: -50px;
            position: relative;
            text-align: left;
            text-transform: lowercase;
            &::first-letter{
                text-transform: uppercase;
            }

        }
        div.price-box {
            .price-box{
                display: flex;
                align-items: center;
              
            }
            .regular-price{
                float: left;
                width: 100%;
                margin: 0;
                text-align: left;
                float: left;
                padding-bottom: 10px;
                pointer-events: none;
                padding-left: 20px;
                margin-top: auto;

                span{
                    width: 100%;
                }
                .regular-price{
                    padding: 0;
                }
            }

            p{
                font-style: normal;
                margin: 0;
            }
            .price {
                font-weight: 800;
                line-height: 16px;
                color: black;
                font-style: normal;
                font-size: 17px;
            }
            .old-price{
                .price{
                    color: #000;
                    font-size: 14px !important;
                }
            }
        }
    }
}
// Seccion categorias
.categories-section{
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    .title-container {
        width: 100%;
        float: left;
        text-align: center;
        h2{
            @media#{$big-phone}{
                font-size: 27px;
            }
            @media#{$min-phone}{
                font-size: 23px;
            }
        }
    }
    .container-ul{
        width: 50%;
        margin: 0 auto;
        @media#{$tablet}{
            width: 100%;
        }
    }
    ul.container-dropdown{
        float: left;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 50px;
        border: 2px solid black;

        span{
            font-family: 'Druk', 'Roboto', Impact, Arial, sans-serif;
            font-size: 27px;
            font-style: italic;
            transition: color 0.4s linear 0.1s;
            text-transform: uppercase;  
            @media#{$tablet}{
                font-size: 23px;
            }
        }
        li.dropdown{
            position: relative;
            width: 100%;
            transition: background 0.2s linear 0.1s;
            cursor: pointer;
            &:hover {
                background: black;
                span{
                    color: white;
                }
                .dropdown-content{
                    //display: block;
                    opacity: 1;
                    transform: translateY(0%);
                    visibility: visible;

                }

            }
            &.last{
                border-radius: 0 50px 50px 0;
                .dropdown-content{
                    margin-right: 14px;
                    width: 93.5%;
                    @media#{$tablet}{
                        margin-right: 8px;
                    }
                }
            }
            &.first{
                border-radius: 50px 0 0 50px;
                .dropdown-content{
                    margin-left: 14px;
                    width: 93.5%;
                    @media#{$tablet}{
                        margin-left: 8px;
                    }
                }

            }
            .dropdown-content {
                //display: none;
                opacity: 0;
                position: absolute;
                background: #000;
                z-index: 15;
                transition: all 0.3s linear 0.2s;
                left: 0;
                border-top: 1px solid #737373;
                top: 41px;
                width: 100%;
                text-align: left;
                padding: 10px 35px;
                transform: translateY(-5%);

                @media#{$tablet}{
                    padding: 10px;
                    top: 34px;
                }
                li{
                    color: #aba6a6;
                    text-transform: capitalize;
                    border-bottom: 1px solid #737373;
                    text-align: center;
                    font-weight: 400;
                    font-size: 14px;
                    margin: 10px 0;
                    
                    &.last{
                        border-bottom: 0;
                    }
                    &:hover{
                        font-weight: 700;
                    }
                }
            }
        }

    }
}
