/*
	Identity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Basic */
body {
  background-image: url("../../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

body:after {
  display: none;
}

/* List */
ul.icons li a:before {
  color: #c8cccf;
}

ul.icons li a:hover:before {
  color: #ff7496;
}

/* Wrapper */
#wrapper {
  text-align: center;
}

/* Main */
#main {
  display: inline-block;
}
/*# sourceMappingURL=ie9.css.map */