.cms-newhome, .cms-home{
    .button-link{
        margin: 0 5px;
        a.button img {
            max-width: 200px;
            width: 100px;
            margin-left: 0px;
            &:hover{
                opacity: 1;
                transform: translateX(0px);
            }
            @media#{$tablet}{
                width: 105px;
            }
        }
        a{
            &:hover{
                
                transform: translateX(0px);
            }
        }
    }
    .container{
        width: 100% !important;
        padding: 0 15px;
    }
    .follow-us {
        float: left;
        width: 100%;
        h4{
            font-size: 52px;
            font-family: $f-stack-times;
            text-align: center;
            color: #000;
            text-transform: uppercase;
        }
        .img{
            display: flex;
            a.first{
                margin-right: 10px;
            }
        }
    }
    .flex-banners-x4 {
        display: flex;
        float: left;
        flex-wrap: wrap;
        .banner {
            
            margin-bottom: 10px;
            
        }
        &>div {
            flex-basis: 100%;
        }
    }
    #newhome-slider {
        margin-top: -76px;
        margin-bottom: 0;
        &.responsive-slide {
            .owl-dots {
                bottom: 9px;
                left: 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
                .owl-dot {
                    background-color: transparent;
                    border-color: transparent;
                    width: 16px;
                    opacity: .5;
                    margin: 0;
                    height: 20px;
                    span{
                        width: 7px;
                        height: 7px;
                        background: #fff;
                        display: block;
                        border-radius: 20px;
                        margin: 6px;
                    }
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .hometabs{
        @media (min-width: 768px){
            margin-top: 28px;
        }
        ul#tabs{
            display: flex;
            overflow: auto;
            padding: 0 12px;
            @media (min-width: 600px){
                justify-content: center;
            }
            &::-webkit-scrollbar {
                height: 5px;
              }
               
            &::-webkit-scrollbar-thumb {
                background: #fff; 
            }
            scrollbar-color: #ededed #fff;
            scrollbar-width: thin;
            &:after {
                content: '';
                width: 50px;
                height: 40px;
                background: linear-gradient(90deg, transparent, #fff);
                position: absolute;
                right: 0;
                pointer-events: none;
                @media (min-width: 600px){
                    display: none;
                }
            }
            li{
                    font-family: 'Roboto';
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: flex;
                    padding: 0 13px 0;
                    white-space: nowrap;
                    line-height: 1;
                    cursor: pointer;
                    span{
                        border-bottom: 3px solid #fff;
                        transition: border 300ms ease-in-out;
                        display: block;
                        padding: 17px 2px 5px;
                    }
                    &.active{
                        span{
                            border-bottom: 3px solid #940000;
                        }
                    }
                    &:last-child{
                        @media (max-width: 599px){
                            padding-right: 50px;
                        }
                    }
            }
        }
    }
    #tabscontent{

        .actions {
            display: none;
        }
        
        .products-grid{
            display: none;
            flex-wrap: nowrap;
            overflow-x: scroll;
            justify-content: flex-start;
            &.active{
                display: flex;
            }
            &::-webkit-scrollbar {
                height: 5px;
              }
               
            &::-webkit-scrollbar-thumb {
                background: #ccc; 
            }
            scrollbar-color: #ccc #fff;
            scrollbar-width: thin;
            padding: 11px;
            margin-top: -6px;
            &.owl-carousel {
                display: none;
                padding: 0;
                margin: 0;
                overflow-x: visible;
                &.active{
                    display: block;
                }
                .owl-stage { 
                    display: flex;
                }
                .owl-item {
                    display: flex;
                }
            }
            li{
                width: 41vw;
                margin: 10px 5px 10px 5px;
                display: flex;
                flex-direction: column;
                float: none;
                flex: 1 0 auto;
                max-width: 200px;
                min-width: 140px;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid #cfcfcf;
                background: #fff;
                &:hover{
                    box-shadow: 0 2px 13px -5px rgba(0,0,0, 0.4);
                }
            }
            .product-image {
                margin: 0;
                width: 100%;
                img {
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
                }
            }
            h3.product-name {
                margin-bottom: 0;
                color: #4a4a4a;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
                float: left;
                width: 100%;
                font-weight: 500;
                text-transform: lowercase;
                &::first-letter{
                    text-transform: uppercase;
                }
                a {
                    font-weight: 500;
                    font-size: 14px;
                    display: block;
                    padding: 15px 5px 50px 20px;
                    margin-bottom: -50px;
                    position: relative;
                }
            }
            div.price-box {
                float: left;
                width: 100%;
                margin: 0;
                text-align: left;
                float: left;
                padding-bottom: 10px;
                pointer-events: none;
                padding-left: 20px;
                margin-top: auto;
                p{
                    font-style: normal;
                    margin: 0;
                }
                .price {
                    font-weight: 800;
                    line-height: 16px;
                    color: black;
                    font-style: normal;
                    font-size: 17px;
                }
                .old-price{
                    .price{
                        color: #000;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
}

.tabs-content .owl-carousel .owl-nav .owl-prev, .tabs-content  .owl-carousel .owl-nav .owl-next {
    margin: 16px 11px;
    height: 185px
}
.category-carousel{
    h2{
        @media#{$big-phone}{
            font-size: 27px;
        }
        @media#{$min-phone}{
            font-size: 23px;
        }
    }
    .title-container {
        width: 100%;
        float: left;
        margin-top: 30px;
        span.section-head.col-xs-12 {
            text-align: center;
        }
    }
    .widget-title{display: none;}
    .title{
        margin: 10px 100px;
        display: flex;
        align-items: center;
        float: left;
        width: 85%;
        justify-content: space-between;
        @media#{$tablet}{
            margin: 10px 17px;
        }
        span{
            text-transform: uppercase;
            font-size: 20px;
            font-family: 'Roboto';
            border-bottom: 3px solid #940000;
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;

        }
        a{
            font-size: 13px;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 55px;
            color: white;
            background: black;
            font-weight: 700;
            @media#{$tablet}{
                color: #676767;
                background: transparent;
                border: 0;
            }
            &:hover, &:focus{
                background-color: #ccc;
                color: black;
            }
        }
    }
}
#homeprods{
    @media (max-width: 400px){
        scrollbar-color: #ccc #fff;
        scrollbar-width: thin;
        overflow-x: scroll;
        display: flex;
        &::-webkit-scrollbar {
            height: 5px;
        }
                   
        &::-webkit-scrollbar-thumb {
            background: #ccc; 
        }
        scrollbar-color: #ededed #fff;
        scrollbar-width: thin;
    }
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
               
    li{
        width: 41vw;
        margin: 10px 5px 10px 5px;
        display: flex;
        flex-direction: column;
        float: none;
        flex: 1 0 auto;
        max-width: 200px;
        min-width: 140px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #cfcfcf;
        background: #fff;
        &:hover{
            box-shadow: 0 2px 13px -5px rgba(0,0,0, 0.4);
        }
        .product-image{
            margin: 0;
            width: 100%;
            border-radius: 0;
        }
        .link-name{
            display: flex;
            min-height: 67px;
            align-items: center;
            justify-content: space-between;
            padding: 15px 15px 10px 15px;
            position: relative;
            z-index: 3;
            &>p{
                font-weight: 500;
                font-size: 14px;
                text-align: left;
                text-transform: lowercase;
                margin: 0;
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            @media#{$tablet}{
                flex-direction: column;
            }

        }
        div.price-box {
            .price-box{
                display: flex;
                align-items: center;
              
            }
            .regular-price{
                float: left;
                width: 100%;
                margin: 0;
                text-align: left;
                float: left;
               
                pointer-events: none;
                padding-left: 20px;
                margin-top: auto;
                @media#{$tablet}{
                    padding-left: 0;
                }

                span{
                    width: 100%;
                }
                .regular-price{
                    padding: 0;
                }
            }

            p{
                font-style: normal;
                margin: 0;
            }
            .price {
                font-weight: 800;
                line-height: 16px;
                color: black;
                font-style: normal;
                font-size: 17px;
            }
            .old-price{
                .price{
                    color: #000;
                    font-size: 14px !important;
                }
            }
        }
    }
}
// Seccion categorias
.categories-section{
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    .title-container {
        width: 100%;
        float: left;
        text-align: center;
        h2{
            @media#{$big-phone}{
                font-size: 27px;
            }
            @media#{$min-phone}{
                font-size: 23px;
            }
        }
    }
    .container-ul{
        width: 50%;
        margin: 0 auto;
        @media#{$tablet}{
            width: 100%;
        }
    }
    ul{
        float: left;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @media#{$tablet}{
            flex-flow: row wrap;
        }
        a{
            line-height: 28px;
            border-radius: 20px;
            border: 1px solid;
            background: black;
            width: 20%;
            margin: 0px 10px;
            @media#{$tablet}{
                width: 28%;
                margin: 8px 7px;
            }
            &:focus, &:hover{
                background: #ccc;
                span{
                    color: black;
                }
            }
            span{
                font-size: 18px;
                font-family: 'Roboto';
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                text-transform: uppercase;
                color: white;
                &:focus, &:hover{
                   color: black;
                }
            }
            img{
                margin: 0 auto;
                padding-bottom: 8px;
            }
        }
    }
}
