/* -------------------------------------------- *
 * START: Product Labels (DataBunch) */
.product-label { position:absolute; top:0; left:0; opacity:0.8; display: inline-block; z-index: 2; }
/*.product-label .cucarda {text-align:center;position:relative;min-width: 70px;color:#fff;font-size:13px;}*/
.product-label .cucarda {
	width: 67px;
	height: 67px;
	font-size: 10px;
	float: right;
	text-align: center;
	border-radius: 50px;
	margin: 37px 30px 0 0;
}
.product-label .cucarda span {
	display:block;
    padding: 17px 0;
	font-weight: 900;
	line-height: 16px;
	font-size: 16px;
}
.product-label .cucarda.nuevo span {
	line-height: 30px;
}
.product-label .cucarda .arrow { position:absolute; }
.product-label .cucarda .l-arrow,
.product-label .cucarda .rt-arrow,
.product-label .cucarda .rb-arrow { width:0; height:0; font-size:0; padding:0; }
.product-label .cucarda .l-arrow { border-left:8px solid transparent; }
.product-label .cucarda .rt-arrow,
.product-label .cucarda .rb-arrow { right:-9px; border-right:10px solid transparent; }
.product-label .cucarda .l-arrow { bottom:-5px; }
.product-label .cucarda .rt-arrow { top:0; }
.product-label .cucarda .rb-arrow { bottom:0; }
.product-label .sale,
.product-label .sale .arrow { background:#f24841; }
.product-label .sale .l-arrow { border-top:5px solid #a6332d; }
.product-label .sale .rt-arrow { border-top:20px solid #f24841; }
.product-label .sale .rb-arrow { border-bottom:20px solid #f24841; }
.product-label .new,
.product-label .new .arrow { background:#00ad5d; }
.product-label .new .l-arrow { border-top:5px solid #006134; }
.product-label .new .rt-arrow { border-top:20px solid #00ad5d; }
.product-label .new .rb-arrow { border-bottom:20px solid #00ad5d; }
.product-label .featured,
.product-label .featured .arrow { background:#3399cc; }
.product-label .featured .l-arrow { border-top:5px solid #206080; }
.product-label .featured .rt-arrow { border-top:20px solid #3399cc; }
.product-label .featured .rb-arrow { border-bottom:20px solid #3399cc; }

.product-label .sale .l-arrow,
.product-label .sale .rt-arrow,
.product-label .sale .rb-arrow,
.product-label .new .l-arrow,
.product-label .new .rt-arrow,
.product-label .new .rb-arrow,
.product-label .featured .l-arrow,
.product-label .featured .rt-arrow,
.product-label .featured .rb-arrow { background:none transparent; }

.products-grid .product-label .cucarda {
    width: 52px;
    height: 52px;
    font-size: 12px;
    float: left;
    margin: 10px;
}
.products-grid .product-label .cucarda.nuevo {
	background: #16a815 !important;
}
.products-grid .product-label .cucarda. {
	background-color: #e04e2c;
}
.products-grid .product-label .cucarda span {
	padding: 11px 9px;
	/* Text style for "SALE" */
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.products-grid .product-label .cucarda .arrow { 
	padding:0; 
}

.product-essential { /*position:relative;*/ }
.product-img-box { position:relative; }

/* START: Product Labels adding position option (DataBunch) */
.pl-top-left { top:0; left:0; right:auto; bottom:auto; }
.pl-top-right { top:0; right:0; left:auto; bottom:auto; }
.pl-bottom-left { bottom:4px; left:0; top:auto; right:auto; }
.pl-bottom-right { bottom:4px; right:0; top:auto; left:auto; }

.pl-top-right .cucarda { margin-left:0; margin-right:-8px; }
.pl-bottom-right .cucarda { margin-left:0; margin-right:-8px; }
.pl-top-right .cucarda .rt-arrow,
.pl-top-right .cucarda .rb-arrow,
.pl-bottom-right .cucarda .rt-arrow,
.pl-bottom-right .cucarda .rb-arrow { left:-9px; border-left:10px solid transparent; border-right:0 none; }
.pl-top-right .cucarda .l-arrow { right:0; left:auto; border-right:8px solid transparent; border-left:0 none; }
.pl-bottom-right .cucarda .l-arrow { right:0; left:auto; border-right:8px solid transparent; border-left:0 none; }

/*.product-img-box .pl-top-right,
.product-img-box .pl-bottom-right { right:15px; }
.product-img-box .pl-bottom-left,
.product-img-box .pl-bottom-right { bottom:140px; }*/
/* END: Product Labels adding position option (DataBunch) */

/* END: Product Labels (DataBunch)
 * -------------------------------------------- /