<?php

// Datos de la imagen
$img = $this->getData('gimg');
$size = 611;
$path = $this->getData('gpath');

// Datos de la categoria
$_helper        = $this->helper('catalog/output');
$category       = Mage::getModel('catalog/category')->load($this->getData('category_id'));
$imgUrl   	    = $category->getImageUrl();
$categoryUrl    = $category->getUrl();
$categoryName   = $category->getName();

if ($img == '') {
	$imagePath = $imgUrl;
}
// Controla si existe la imagen resized, y si no, la crea
$resizePath = Mage::getBaseDir ('media') . $path . "resized/" . $size . $img;
if (!file_exists($resizePath)):
	$imagePath = Mage::getBaseDir('media') . $path . $img;
$imageObj = new Varien_Image($imagePath);
$imageObj->constrainOnly(TRUE);
$imageObj->keepAspectRatio(TRUE);
$imageObj->keepFrame(FALSE);
$imageObj->resize($size, null);
$imageObj->save($resizePath);
endif;
// Imagen resized
$resizeUrl = Mage::getBaseUrl ('media') . $path . "resized/" . $size . $img;
?>
<div class="image-description">
	<a href="<?php echo $categoryUrl;?>">
		<img src='<?php echo $resizeUrl; ?>'/>
	</a>           
</div>
<div class="description">
	<span class="text">
		<?php echo $category->getDescription(); ?>
	</span>
	<a class="ver-mas" href="<?php echo $categoryUrl; ?>">Ver Más</a>
</div>