<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Rules
 */
?>
<?php
$showDetails = Mage::getStoreConfig('amrules/general/open_discount_label');
?>
<?php if (is_array($this->getTotal()->getFullInfo())) : ?>
    <?php foreach ($this->getTotal()->getFullInfo() as $info): ?>
        <tr class="summary-details-amrules summary-details<?php if($showDetails):?>show-details<?php endif?>"
            <?php if(!$showDetails):?> style="display:none;"<?php endif?>>
            <td class="a-right" colspan="<?php echo $this->getColspan(); ?>">
                <?php echo $info['label']; ?>
                <br />
            </td>
            <td class="a-right" rowspan="1">
                -<?php echo $this->helper('checkout')->formatPrice($info['amount']); ?>
            </td>
        </tr>
    <?php endforeach; ?>
<?php elseif(Mage::getURL('checkout/cart/') != Mage::helper('core/url')->getCurrentUrl()) : ?>

    <?php $appliedRuleIds = Mage::getSingleton('checkout/session')->getQuote()->getAppliedRuleIds(); ?>
    <?php $appliedRuleIds = explode(',', $appliedRuleIds); ?>

    <?php foreach ($appliedRuleIds as $appliedRuleInfo): ?>
        <?php $rule = Mage::getModel('salesrule/rule')->load($appliedRuleInfo); ?>
        <?php $rule_name=$rule->getName(); ?>

        <tr class="summary-details-amrules summary-details rule<?php //echo $appliedRuleInfo ?>" style="display:none;">
            <td class="a-right" colspan="<?php echo $this->getColspan(); ?>">
                <?php echo $rule_name; ?>
                <br />
            </td>
        </tr>
    <?php endforeach; ?>
<?php endif; ?>

<tr class="summary-total <?php if($showDetails):?>show-details<?php endif?>" onclick="expandDetails(this, '.summary-details-amrules')" >
    <td colspan="<?php echo $this->getColspan(); ?>" style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <div class="summary-collapse"><?php echo $this->getTotal()->getTitle() ?></div>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
    <td style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
</tr>
