<?php
/**
 * To use in product listing or product view media call
 * echo $this->getChild('product_labels')->setProduct($product)->toHtml();
 * from catalog/product/list.phtml
 * or
 * from catalog/product/view/media.phtml
 *
 * To use in another page add this template at page layout
 */
?>
<?php if ( $this->isSale() || $this->isNew() || $this->isFeatured() || $this->isEnvioGratis() ): ?>
	<?php $locationClass = $this->getLocationClass(); ?>
	<div class='product-label <?php echo $locationClass ?>'>
	<ul>
<?php endif; ?>

<?php if ($this->isNew()): ?>
	<?php /* new product */ ?>
	<?php $newStyle = "background:" . $this->getNewBackgroundColor() . "; color:" . $this->getNewTextColor() . ";" ?>
	<li class="cucarda nuevo" style="<?php echo $newStyle ?>"><span><?php echo $this->getNewText() ?></span></li>
<?php endif; ?>

<?php if ($this->isSale()): ?>
    <?php /* product on sale */ ?>
    <?php $saleStyle = "background:" . $this->getSaleBackgroundColor() . "; color:" . $this->getSaleTextColor() . ";" ?>
	<!-- <li class="cucarda sale" style="background-color: #f0d9d8; color:#000;"><span>SALE</span></li> -->
	<li class="cucarda sale" style="<?php echo $saleStyle ?>"><span><?php echo $this->getSaleText() ?></span></li>
<?php endif; ?>

<?php if ($this->isEnvioGratis()): ?>
    <?php /* featured product */ ?>
    <?php $egStyle ="background-color:#fcffc8;color:#000;float:right;width: 125px !important;text-transform:uppercase;" ?>
	<li class="cucarda envio_gratis" style="<?php echo $egStyle ?>"><span>Envío Gratis</span></li>
<?php endif; ?>

<?php if ($this->isFeatured()): ?>
    <?php /* featured product */ ?>
    <?php $featuredStyle = "background:" . $this->getFeaturedBackgroundColor() . "; color:" . $this->getFeaturedTextColor() . ";" ?>
	<li class="cucarda featured" style="<?php echo $featuredStyle ?>"><span><?php echo $this->getFeaturedText() ?></span></li>
<?php endif; ?>

<?php if ( $this->isSale() || $this->isNew() || $this->isFeatured() || $this->isEnvioGratis() ): ?>
	</ul>
	</div>
<?php endif; ?>

<?php if ($this->isPromocionesSale() ): ?>
	<div class='product-label pl-top-right'>
		<ul>
			<span class="cucarda-promociones">&nbsp;</span>
		</ul>
	</div>
<?php endif; ?>