<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Autorelated
 * @version    2.4.12
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$abstractBlock = $this->helper('awautorelated')->getAbstractProductBlock();
$collection = $this->getCollection();

if ($this->getPosition() == AW_Autorelated_Model_Source_Position::INSTEAD_NATIVE_RELATED_BLOCK) {

    $this->iterateBlock();

    if ($collection && $collection->getSize()) {
        $this->markAsShowed();
    } elseif ($this->showNativeBlock()) {
        echo $this->getParent()->getChildHtml('catalog-product-related');
    }
}
?>
<?php if ($collection && $collection->getSize()) : ?>
    <?php if (Mage::helper('awautorelated')->checkVersion('1.4')): ?>
        <div class="block aw-arp-block aw-arp-block-<?php echo $this->getData('id') ?>">
            <div class="block-title">
                <span><?php echo $this->htmlEscape($this->getData('name')) ?></span>
            </div>
            <div class="block-content aw-arp-block-content" id="aw-arp-list">
    <?php else: ?>
        <div class="box base-mini mini-related-items aw-arp-block aw-arp-block-<?php echo $this->getData('id') ?>">
            <div class="head">
                <h4><?php echo $this->htmlEscape($this->getData('name')) ?></h4>
            </div>
            <div class="content aw-arp-block-content">
    <?php endif; ?>
                <ul class="owl-carousel col-xs-12">
                    <?php $i = 0; ?>
                    <?php foreach ($collection as $product) : ?>
                        <?php $i++; ?>
                        <?php if ($i > 10) { break; } ?>
                        <li class="item product_item aw-arp-item">
                            <div class="product-info product">
                                <a class="product-image" href="<?php echo $abstractBlock->getProductUrl($product) ?>"><img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(250) ?>" alt="<?php echo $this->htmlEscape($product->getName()) ?>" width="250" height="250" />
                                <?php $labelsBlock = $this->getChild('product_labels'); ?>
                                <?php if ($labelsBlock): ?>
                                    <?php echo $labelsBlock->setProduct($product)->toHtml(); ?>
                                <?php endif; ?>
                                </a>
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cucarda')->toHtml() ?>
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cucarda2')->toHtml() ?>
                                <span class="product-name">
                                    <a href="<?php echo $abstractBlock->getProductUrl($product) ?>"><?php echo $this->htmlEscape($product->getName()) ?></a>
                                </span>
                                <?php echo $abstractBlock->getPriceHtml($product, true, '-related') ?>
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cuotas-sin-interes')->toHtml() ?>
                            </div>
                        </li>
                    <?php endforeach ?>
                </ul>
            </div>
        </div>
<?php endif;?>
<style type="text/css">

.toggle-tabs{
    display: none !important;
}

.tab-container{
    border: none !important;
}
</style>
