@charset "UTF-8";
.brandlivetheme-ajax-quickview {
    .product-view {
        float: left;
        width: 100%;
        padding: 45px 20px 0px 20px;
        .product-essential {
            .product-information {
                .product-brand {
                    h3 {
                        color: $logo-blue;
                    }
                }
            }
            .product-img-box {
                float: left;
                width: 100%;
                .product-image {
                    position: relative;
                    display: block;
                    border: 1px solid #EDEDED;
                    // float: left;
                }
                .more-views {
                    float: left;
                    display: none;
                    h2 {
                        display: none;
                    }
                    ul {
                        max-height: 500px;
                        overflow: auto;
                        float: left;
                        width: 100%;
                        li {
                            float: left;
                            width: 100%;
                            margin-bottom: 5px;
                            a {
                            display: block;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .product-shop {
            padding-left: 50px;
            .product-name {
                float: left;
                width: 100%;
                margin-bottom: 15px;
                .h1 {
                    font-family: $f-stack-default;
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 3px;
                    color: black;
                    font-weight: bold;
                    text-transform: uppercase;
                    border-bottom: 0px solid #EDEDED;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
            .extra-info {
                display: none;
            }
            .price-info {
                float: left;
                padding-left: 0;
                text-align: left;
                width: 100%;
                letter-spacing: 2px;
                margin-bottom: 30px;
                .price-box {
                    margin: 0;
                    .price {
                        color: $logo-blue;
                        font-weight: bold;
                        float: left;
                        font-family: $f-stack-default;
                        font-size: 20px;
                        line-height: 24px;
                        margin-bottom: 0;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                    }
                    .old-price {
                        .price-label {
                            display: none;
                        }
                        .price {
                            color: #91908f;
                            font-weight: 400;
                            float: left;
                            font-family: $f-stack-default;
                            font-size: 14px;
                            line-height: 24px;
                            text-transform: uppercase;
                            margin-bottom: 0;
                            letter-spacing: 3px
                        }
                    }
                    .special-price{
                        .price-label {
                            display: none;
                        }
                        .price {
                            color: $logo-blue;
                            font-weight: bold;
                            float: left;
                            font-family: $f-stack-default;
                            font-size: 20px;
                            line-height: 24px;
                            margin-bottom: 0;
                            text-transform: uppercase;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
            .add-to-cart-wrapper{
                float: left;
                width: 100%;
                margin-bottom: 30px;
                .add-to-box {
                    float: left;
                    width: 100%;
                    .add-to-cart {
                        padding-bottom: 0;
                        margin-bottom: 0;
                        border-bottom: 0;
                        .qty-wrapper {
                            margin: 0;
                            float: left;
                            width: 100%;
                            margin-bottom: 30px;
                            .qty_cart {
                                display: inline-block;
                                .qty-ctl {
                                    display: inline-block;
                                    margin: 0 -4px;
                                    button {
                                        border: 1px solid #d9d6d6;
                                        height: 28px;
                                        background: #fff;
                                        width: 28px;
                                        display: inherit;
                                        vertical-align: middle;
                                        font-size: 14px;
                                        line-height: 14px;
                                    }
                                }
                            }
                            label {
                                width: auto;
                                color: #39393a;
                                font-family: $f-stack-default;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 30px;
                                text-transform: uppercase;
                                margin: 0;
                                margin-right: 10px;
                                letter-spacing: 2px;
                            }
                            .input-text.qty {
                                width: 28px;
                                height: 28px;
                                border: 1px solid #d9d6d6;
                                color: #39393a;
                                font-family: $f-stack-default;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 30px;
                                letter-spacing: 1px;
                                padding: 0;
                            }
                        }
                        .add-to-cart-buttons {
                            position: relative;
                            display: inline-block;
                            .button {
                                font-weight: 500;
                                letter-spacing: 2px;
                                line-height: 38px;
                                background: $logo-blue;
                                border: 0 solid;
                                font-size: 14px;
                                line-height: 50px;
                                span {
                                    padding: 19px 9px;
                                }
                            }
                            #ajax_loader{
                                position: absolute;
                                left: 0;
                                right: 0;
                                text-align: center;
                                color: #000;
                                width: 100%;
                                font-size: 20px;
                                height: 100%;
                                padding: 7px 0;
                                opacity: 0.8;
                                background: #ddd;
                            }
                        }
                    }
                }
                .availability-only {
                    display: none;
                }
            }
            #product-options-wrapper {

            }
            .product-options-bottom {
                float: left;
                width: 100%;
                padding-bottom: 30px;
                .add-to-cart {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: 0;
                    .qty-wrapper {
                        margin: 0;
                        float: left;
                        width: 100%;
                        margin-bottom: 30px;
                        label {
                            width: auto;
                            color: #39393a;
                            font-family: $f-stack-default;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 30px;
                            text-transform: uppercase;
                            margin: 0;
                            margin-right: 10px;
                            letter-spacing: 2px;
                        }
                        .qty_cart {
                            display: inline-block;
                            .qty-ctl {
                                display: inline-block;
                                margin: 0 -4px;
                                button {
                                    border: 1px solid #d9d6d6;
                                    height: 28px;
                                    background: #fff;
                                    width: 28px;
                                    display: inherit;
                                    vertical-align: middle;
                                    font-size: 14px;
                                    line-height: 14px;
                                }
                            }
                        }
                        .input-text.qty {
                            width: 30px;
                            height: 28px;
                            border: 1px solid #d9d6d6;
                            color: #39393a;
                            font-family: $f-stack-default;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 30px;
                            letter-spacing: 1px;
                            padding: 0;
                        }
                    }
                    .add-to-cart-buttons {
                        position: relative;
                        display: inline-block;
                        .button {
                            font-weight: 500;
                            letter-spacing: 2px;
                            line-height: 38px;
                            background: $logo-blue;
                            border: 0 solid;
                            font-size: 14px;
                            line-height: 50px;
                            span {
                                padding: 19px 9px;
                            }
                        }
                        #ajax_loader{
                            position: absolute;
                            left: 0;
                            right: 0;
                            text-align: center;
                            color: #000;
                            width: 100%;
                            font-size: 20px;
                            height: 100%;
                            padding: 7px 0;
                            opacity: 0.8;
                            background: #ddd;
                        }
                    }
                }
            }
            .prod_attributes {
                float: left;
                width: 100%;
                .attribute {
                    float: left;
                    width: 100%;
                    cursor: pointer;
                    margin-bottom: 10px;
                    h4 {
                        cursor: pointer;
                        color: #4a4a4a;
                        font-family: $f-stack-default;
                        font-size: 12px;
                        font-weight: bold;
                        line-height: 24px;
                        text-transform: uppercase;
                        margin-bottom: 0;
                        letter-spacing: 2px;
                        &:before {
                            content: "\f078";
                            font-family: FontAwesome;
                            font-style: normal;
                            font-size: 8px;
                            margin-right: 5px;
                            margin-top: -2px;
                            float: left;
                            display: none;
                        }
                    }
                    .content {
                        color: $c-text-gray;
                        font-family: $f-stack-default;
                        font-size: 12px;
                        font-weight: lighter;
                        line-height: 18px;
                        display: none;
                        letter-spacing: 2px;
                    }
                    &.short-description.current h4:before {
                        content: "\f077" !important;
                        font-family: FontAwesome;
                        font-style: normal;
                        font-size: 8px;
                        margin-right: 5px;
                        display: none;
                    }
                    &.short-description .content {
                        display: block;
                    }
                }
            }
        }
    }

}
