<?php
/**
 * 
 * @category    Ulula
 * @package     Ulula_Mercadolibre
 * @copyright   Copyright (c) 2017 Ulula IT (http://ulula.net)
 * @author      Gaston De Marsico <gdemarsico@ulula.net>
 */
?>
<hr/>
<br/>
<h4 class="icon-head head-billing-address fieldset-legend"><?php echo $this->__('Store Pickup') ?></h4>
<table cellspacing="0" class="form-list" id="table_mercadolibre_publish">
	<tbody>
		<tr>
			<td class="label">
				<label for="stores"><?php echo $this->__('Stores') ?></label>
			</td>
			<td class="value">
				<input type="hidden" name="product[meli_stores]" value="">
				<select id="meli_stores" name="product[meli_stores][]" class=" select multiselect" size="10" multiple="multiple">
					<?php echo $this->getOptions() ?>
				</select><br>
			</td>	
			<td class="scope-label"><span class="nobr"></span></td>    			
		</tr>
	</tbody>
</table>