@charset "UTF-8";
.brandlivetheme-ajax-quickview {
    .product-view {
        float: left;
        width: 100%;
        padding: 45px 20px 0px 20px;
        .product-essential {
            .product-image-container{
                display: flex;
                align-items: flex-start;
                .product-description{
                    width: 100%;
                    float: left;
                    .product-name{
                        padding: 0 15px;
                    }

                    .prod_attributes {
                        width: 100%;
                        float: left;
                        padding: 0 16px;
                        .content{
                            color: #4a4a4a;
                            font-family: "Roboto", sans-serif;
                            font-size: 14px;
                            font-weight: lighter;
                            line-height: 18px;
                            margin-bottom: 20px;
                            letter-spacing: 0.5px;
                        }
                    }
                }
            }
            .product-img-box {
                float: left;
                width: 100%;
                .product-image {
                    position: relative;
                    display: block;
                    border: 1px solid #EDEDED;
                    // float: left;
                }
                .more-views {
                    float: left;
                    margin-top: 0;
                    .product-image-thumbs li:first-child{
                        margin-left: 0;
                    }
                    h2 {
                        display: none;
                    }
                    ul {
                        max-height: 500px;
                        overflow: auto;
                        float: left;
                  
                        li {
                            float: left;
                            width: 100%;
                            margin-bottom: 5px;
                            a {
                            display: block;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
                .product-image{
                    width: 75%;
                    float: left;
                }
            }
        }
        .product-shop {
            padding-left: 50px;
            display: none;
            .product-name {
                float: left;
                width: 100%;
                .h1 {
                    display: flex;
                    width: 100%;
                    padding-right: 15px;
                    border: none;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-align: left;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 52px;
                    line-height: 1;
                    letter-spacing: 0;
                    font-family: $f-stack-times;
                    float: left;
                    color: black;
                   
                }
            }
            .extra-info {
                display: none;
            }
            .price-info {
                float: left;
                padding-left: 0;
                text-align: left;
                width: 100%;
                letter-spacing: 2px;
                margin-bottom: 30px;
                .price-box {
                    margin: 0;
                    .price {
                        color: #545151;
                        font-weight: bold;
                        float: left;
                        font-family:$f-roboto-m;
                        font-size: 20px;
                        line-height: 24px;
                        margin-bottom: 0;
                        margin-top: 15px;
                        text-transform: uppercase;
                    }
                    .old-price {
                        .price-label {
                            display: none;
                        }
                        .price {
                            color: #000;
                            font-weight: 500;
                            float: left;
                            font-family: $f-stack-default;
                            font-size: 16px;
                            line-height: 24px;
                            text-transform: uppercase;
                            margin-bottom: 0;
                        }
                    }
                    .special-price{
                        .price-label {
                            display: none;
                        }
                        .price {
                            color: #545151;
                            font-weight: bold;
                            float: left;
                            font-family: $f-roboto-m;
                            font-size: 20px;
                            line-height: 24px;
                            margin-bottom: 0;
                            margin-top: 15px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .add-to-cart-wrapper{
                float: left;
                width: 100%;
                padding-bottom: 15px;
                .add-to-box {
                    float: left;
                    width: 100%;
                    .add-to-cart {
                        padding-bottom: 0;
                        margin-bottom: 0;
                        border-bottom: 0;
                        float: left;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .qty-wrapper {
                            margin: 0;
                            float: left;
                            width: 100%;
                            margin-bottom: 15px;
                            label {
                                width: auto;
                                color: $c-text-black;
                                font-family: $f-stack-default;
                                font-size: 11px;
                                font-weight: 500;
                                line-height: 30px;
                                text-transform: capitalize;
                                margin: 0;
                                margin-right: 10px;
                            }
                            .input-text.qty {
                                width: 30px;
                                height: 30px;
                                border: none;
                                color: #000;
                                font-family: $f-stack-gotham;
                                font-size: 11px;
                                font-weight: 700;
                                line-height: 30px;
                            }
                        }
                        .add-to-cart-buttons {
                            position: relative;
                            display: inline-block;
                            .button {
                                line-height: 15px;
                                color: white;
                                border: 0;
                                text-transform: uppercase;
                                letter-spacing: 0;
                                border-radius: 46px;
                                min-height: 31px;
                                font-weight: 700;
                            }
                            #ajax_loader{
                                position: absolute;
                                left: 0;
                                right: 0;
                                text-align: center;
                                color: #000;
                                width: 90%;
                                font-size: 20px;
                                height: auto;
                                padding: 7px 0;
                                opacity: 0.8;
                                background: #949494;
                                border-radius: 51px;
                                border: 1px solid #000;
                            }
                        }
                    }
                }
            }
            #product-options-wrapper {
                padding: 0;
                display: none;

                dl.last{
                    display: block;
                    dt.swatch-attr{
                        padding-bottom: 10px;
                        width: 100%;
                    }
                }
            }
            .product-options-bottom {
                float: left;
                width: 100%;
                display: none;
                padding-bottom: 30px;
                padding-left: 0;
                .add-to-cart {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .qty-wrapper {
                        margin: 0;
                        float: left;
                        width: 100%;
                        margin-bottom: 15px;
                        label {
                            width: auto;
                            color: $c-text-black;
                            font-family: $f-stack-default;
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 30px;
                            margin: 0;
                            text-transform: capitalize;
                            margin-right: 10px;
                        }
                        .input-text.qty {
                            width: 30px;
                            height: 30px;
                            border: none;
                            color: $c-text-black;
                            font-family: $f-stack-default;
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 30px;
                        }
                        .qty_cart{
                            display: flex;
                            align-items: center;
                        }
                        .qty_cart button.decrease,.qty_cart button.increase{
                            border-radius: 50px;
                            background: black;
                            color: white;
                            border: 1px solid;
                            width: 30px;
                            font-weight: 700;
                            height: 30px;
                            outline: none;
                        }
                    }
                    .add-to-cart-buttons {
                        position: relative;
                        display: inline-block;
                        .button {
                            line-height: 15px;
                            color: white;
                            border: 0;
                            text-transform: uppercase;
                            letter-spacing: 0;
                            border-radius: 46px;
                            min-height: 31px;
                            font-weight: 700;
                        }
                        #ajax_loader{
                            position: absolute;
                            left: 0;
                            right: 0;
                            text-align: center;
                            color: #000;
                            width: 91%;
                            font-size: 20px;
                           
                           
                            opacity: 0.8;
                            background: #949494;
                            border-radius: 51px;
                            border: 1px solid #000;
                        }
                    }
                }
            }
            .prod_attributes {
                float: left;
                width: 100%;

                .attribute {
                    float: left;
                    width: 100%;
                    cursor: pointer;
                    margin-bottom: 10px;
                    h4 {
                        cursor: pointer;
                        color: $c-text-black;
                        font-family: $f-stack-default;
                        font-size: 10px;
                        font-weight: bold;
                        line-height: 24px;
                        text-transform: uppercase;
                        margin-bottom: 0;
                        &:before {
                            content: "\f078";
                            font-family: FontAwesome;
                            font-style: normal;
                            font-size: 8px;
                            margin-right: 5px;
                            margin-top: -2px;
                            float: left;
                        }
                    }
                    .content {
                        color: $c-text-gray;
                        font-family: $f-stack-default;
                        font-size: 12px;
                        font-weight: lighter;
                        line-height: 18px;
                        display: none;
                    }
                    &.short-description.current h4:before {
                        content: "\f077" !important;
                        font-family: FontAwesome;
                        font-style: normal;
                        font-size: 8px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

}
