/**
 *
 * ClearTheme Enterprise Edition
 *
 */

/* ========================================================================== */
/* Reset ==================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {    
    
    background-image: url('../images/maintenance.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
    background-color: #F1F1F1;
    background-size: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    padding: 180px 0;
}
.main-container {
    width: 355px;
    text-align: center;
    margin: 0 auto;
    background: #000;
}
.logo {
    padding: 20px 0;
    border-bottom: 1px solid #262626;
}
.logo img {
    display: block;
    margin: 0 auto;
}
.page-title {
    color: #cdb296;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}
.page-content {
    color: #afafaf;
    font-size: 11px;
    padding: 0 20px 20px 20px;
}
