<div class="box simple_contact">
 
<form id="simple_contact_form" name="simple_contact_form" action="<?php echo $this->getUrl('access-control/') ?>index/checkaccess" method="post">
 
    <fieldset class="group-select">
        <h4 class="legend">Control de Acceso tienda Mayoristas</h4>
        <ul>
            <li>
                <div class="input-box">
                    <label for="code">Código de acceso<span class="required">*</span></label><br />

                    <input name="code" id="code" title="Code" value="" class="required-entry input-text" type="text" />
                </div>
            </li>
        </ul>
    </fieldset>
    <div class="button-set">
        <button class="button" type="submit"><span><span>Enviar</span></span></button>
 
    </div>
</form>
 
</div>
<style type="text/css">
    .block.block-list.block-viewed {
        display: none;
    }
    .block.block-cart.block-quote {
        display: none;
    }
    .block.block-reorder {
        display: none;
    }
    .col3-layout .col-wrapper {
        width: 100%;
    }
    .col3-layout .col-wrapper .col-main {
        text-align: center;
        float: none;
        width: 100%;
    }
    #simple_contact_form button.button {
        float: none;
        margin-top: 15px;
    }
    .box.simple_contact {
        float: none;
        display: inline-block;
    }
</style>