<!-- <li class="fields">
 <div class="field">
        <label for="billing:dni" class="required"><em>*</em><?= $this->__('Dni') ?></label>
        <div class="input-box">
            <input type="text" name="billing[dni]" title="<?= $this->__('Dni') ?>" id="billing:dni" class="input-text required-entry" />
        </div>      
    </div>
</li> -->