<?php echo $this->getChildHtml('items_before'); ?>
<div id="checkout-review-table-wrapper">
    <table class="order-products-table" id="checkout-review-table">
        <col />
        <col width="1" />
        <col width="1" />
        <?php
        $colspan	= 1;
        if ($this->helper('tax')->displayCartBothPrices()):
        	$colspan	= 2;
        ?>
        <col width="1" />
        <?php endif; ?>
        <thead>
            <tr>
                <!--<th class="a-left editcart-title">
                    <a class="edit-cart-link" href="<?php //echo Mage::helper('checkout/cart')->getCartUrl(); ?>">
                         <img src="<?php //echo $this->getSkinUrl('images/edit-cart-review.png'); ?>">
                        <?php //echo $this->__('Edit') ?>
                    </a>
                </th> -->
                <th class="products-title">Producto</th>
                <th class="a-center quantity-title"><?php echo $this->__('Cant.') ?></th>
                <th class="a-center subtotal-title" colspan="<?php echo $colspan ?>"><?php echo $this->__('Subtotal') ?></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach($this->getItems() as $_item): ?>
            <?php echo $this->getItemHtml($_item)?>
        <?php endforeach ?>
        </tbody>
    </table>
</div>

<div class="table-totals">
    <table class="order-products-table" id="checkout-review-table">
        <?php echo $this->getChildHtml('totals'); ?>
    </table>
</div>

<?php if (Mage::getConfig()->getModuleConfig('IWD_OnepageCheckoutSignature')->is('active', 'true')): ?>
    <div class="signature-block">
        <h3><?php echo $this->__('Signature')?><span class='fa expand_plus'></span></h3>
        <div  class="collapse-block hidden">
            <?php echo $this->getChildhtml('opcsignature');?>
        </div>
    </div>
<?php endif;?>
<div class="opc-review-actions" id="checkout-review-submit">
      <h5 class="grand_total"><?php echo $this->__('Grand Total')?><?php echo Mage::helper('opc')->getGrandTotal()?></h5>
      <?php echo $this->getChildHtml('agreements')?>
      <?php echo $this->getChildHtml('opc.newsletters');?>
      <button type="button" title="<?php echo $this->__('Place Order Now') ?>" class="button btn-checkout opc-btn-checkout"><span><span><?php echo $this->__('Place Order Now') ?></span></span></button>
        <!-- ECLOUD STATIC BLOCK 'CHECKOUT-COMPRA-SEGURA' -->
        <?php $comprasegura = 'checkout-compra-segura'; ?>
        <?php if (Mage::getModel('cms/block')->load($comprasegura)->getIsActive()) : ?>
          <span class="checkout-compra-segura">
              <?php echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId($comprasegura)->toHtml(); ?>
          </span>
        <?php endif; ?>
        <!-- ECLOUD STATIC BLOCK 'CHECKOUT-COMPRA-SEGURA' -->
</div>

<script type="text/javascript">
//<![CDATA[
    decorateTable('checkout-review-table');
    truncateOptions();
//]]>
</script>