<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<div class="title-mobile hidden-lg hidden-md title-category">
    <a href="javascript:history.back()" class="close skip-link-close">    <i class="fa fa-angle-left" aria-hidden="true"></i></a>
    <h3><?php echo $this->__('Products') ?></h3>
</div>
<?php if($this->canShowBlock()): ?>

    <div class="block block-layered-nav">
        <?php if(Mage::getModel('cms/block')->load('whatsapp')->getIsActive()) : ?>
            <?php echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId('whatsapp')->toHtml();?>
        <?php endif; ?>
        <div class="block-title">
            <a href="#block-content" class="skip-link"><strong class="icon-mobile"><i class="fa fa-sliders" aria-hidden="true"></i><span><?php echo $this->__('Shop By') ?></span></strong></a>
        </div>
        <div class="block-content skip-content" id="block-content">

            <?php echo $this->getStateHtml() ?>
            <?php if ($this->getLayer()->getState()->getFilters() && method_exists('Mage', 'getEdition')): // CE 1.7+, EE 1.12+?>
                <div class="actions"><a href="<?php echo Mage::helper('amshopby/url')->getFullUrl(array(), 1) ?>">
                        <?php echo Mage::helper('catalog')->__('Clear All') ?></a>
                </div>
            <?php endif; ?>
            <?php if($this->canShowOptions()): ?>
                    <div class="amshopby-container-top block-layered-nav " id="filter-content">
                    <div><span class="filter"></span><h3>Filtrar</h3></div>
                        <?php foreach ($this->getFilters() as $_filter): ?>
                            <?php if($_filter->getItemsCount()): ?>
                                <?php  $position = Mage::helper('amshopby')->getAttributePosition($_filter); ?>
                                <div class="amshopby-item-top block-content am-toggle-content">
                                    <dl id="narrow-by-list" class="amshopby-narrow-by-list"  data-position="<?php echo $position;?>">
                                        <?php if ($_filter->getAttributeCode() == 'price') : ?>
                                            <?php $_filter->addData(array('amprice-position' => 'top')); ?>
                                        <?php endif; ?>
                                        <dt><?php echo $this->__($_filter->getName()) ?></dt>
                                        <dd style="background:none"><?php echo $_filter->getHtml() ?></dd>
                                    </dl>
                                </div>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                    
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
        </div>
    </div>
<?php else: ?>
    <div style="display:none" class="<?php echo $this->getBlockId()?>"></div>
<?php endif; ?>
