@import url(https://fonts.googleapis.com/css?family=Roboto:900,100,300,400,500,700);
body {
    padding: 0 !important;
    font: 12pt "Roboto", Arial, sans-serif;
    margin: 0 !important;
    color: #000;
    background: #fff;
    font-weight: 300;
    -webkit-print-color-adjust: exact;
}
p.codigo-barras-p {
    font-size: 13px !important;
    letter-spacing: 0;
    font-weight: 400;
}
* {
    border:0;
    margin:0;
}
.subpage {
    height: 80mm;
}

.subpage:after{
    margin: 0;
}

@page {
    width: 100mm;
    height: 80mm;
    margin: 0 !important;
}

/*Zebra*/

/*sucursal_retiro*/
/*    .sucursal_retiro{
    text-align: center !important;
}*/
p.sucursar_retiro {
font-size: 50px !important;
font-weight: 700;
text-align: left;
color: #000;
line-height: 66px !important;
}
.banner-zebra{
    height: 9.8mm;
    background-color: #fff;
    background: black;
    border-bottom: 1px solid #000;
}
td.tdPadding.infoContrato p {
    font-size: 11px;
}
.banner-zebra img{
    margin-left: 5mm;
    max-width: 30mm;
}

.constancias-sobres .title-right {
    border-left: 9mm solid transparent;
    border-right: 0;
    height: 0;
    float: right;
    width: 35mm;
    color: #fff;
    border-bottom: 9.8mm solid #EEE;
}
.constancias-sobres .title-right h2{
    color:black;
}
img.logo-cliente-footer {
width: 100px;
display: block;
margin: 5px auto;
}
.constancias-sobres h2::first-line{
    font-size: 3mm !important;
    font-weight: 300;
}

.constancias-sobres table td{
    line-height: 1.2em;
}

.constancias-sobres #parallelogram {
    width: 3mm;
    height: 10mm;
    float: left;
    -webkit-transform: skew(-42deg);
    -moz-transform: skew(-42deg);
    -o-transform: skew(-42deg);
    background: #eee;
    margin-left: 40mm;
    margin-top: -9.8mm;
}

.constancias-sobres td.remitente p {
    font-size: 12px;
    margin: 7px 0;
}
.constancias-sobres td.remitente p:last-child{
    margin-bottom: 0
}


.constancias-cajas h2{
    margin-top: 4mm !important;
}

h2{
    text-align: right;
    font-style: italic;
    font-size: 4.5mm !important;
    padding-top: 1mm;
    line-height: 0.8em;
    padding-right: 4mm !important;
    text-transform: uppercase;
}

h2 span{
    font-size: 3mm;
    font-weight: 100;
}

.banner{
    max-height: 11mm !important;
}

.constancias-sobres body :left {
    margin-left: 0mm !important;
}
.constancias-sobres body :right {
    margin-right: 0mm !important;
}

.nombre{
    font-weight: 600;
    font-size: 11px !important;
    text-transform:uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

table{
    table-layout: fixed;
    overflow:hidden;
    white-space: nowrap;
}

.direccion{
    padding: 0;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70mm;
    white-space: nowrap; 
    text-transform: uppercase;      
}
.codigoZebra{
    margin: 0 !important;
    padding-top: 5px;
}

.codigoZebra img{
    height: 10mm !important;
    width: 98% !important;
    margin: 0 !important;
    padding: 2mm 0mm 0mm 1mm;
}


.constancias-sobres .tdBorderBottom{
    border-bottom: 1px dashed #000 !important;
}

.tdPadding{
    padding: 4px 10px;
}
p{
    line-height: 1.5em;
    font-size: 9px;
}
.codigo-barras-p{
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 12px !important;
    letter-spacing: 6px;
    margin: 2px 0;
}

.tipoCondicion {
    vertical-align: middle;
}
.tipoCondicion p{
    font-size: 10mm !important;
    line-height: 0.8em !important;
    font-weight: 900;
    display: inline-block !important;
    text-align: right !important;
    float: right;
    color: #595959;
}
.condicion{
    font-size: 10px;
    float: left;
}
.rnp{
    float: left;
    display: block;
    font-size: 8px !important;
}

.subpage-zebra table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.condicionTD{
    font-size: 8px !important;
}

.constancias-sobres {
    color: black;
    background: #fff;
    font-weight: 300;
    margin: 0 auto;
    max-width: 100mm !important;
    page-break-after: always;
    min-height: 150mm !important;
    max-height: 150mm !important;
}
.constancias-cajas .firmas{
    text-align: left;
    font-size: 11px;
    color: #000;
    font-family: Roboto,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 10px;
    border-spacing: 0;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.constancias-cajas .firmas th{
    font-weight: 300;
    padding: 2mm;
}

.visita2.tdBorderRight {
    border-right:1pt solid #595959;
} 

.visita .nombre, .visita .direccion{
    font-size: 12px;
    line-height: 12px;
}

.constancias-sobres td p{
    font-size: 12px;
    line-height: 1.7em;
    font-weight: 500;
}

.constancias-sobres.constancias-conVisita{
    border-bottom: #FFF !important;
}

.dimensiones p{
    line-height: 3.5mm;
}

.nombreCliente{
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

/* Sin Equipaje */

.bulto{
    font-size: 37px !important;
    line-height: 1.2em !important;
    color: #000;
    font-weight: 700;
}
.bulto-equipaje{
    padding: 10px !important;
}
.border-dash{
    border-top: 1px dashed #DDD;
}
.leyenda{
    font-size: 9px !important;
}

h4.fecha{
    font-size: 9px !important;
}
.bulto-equipaje .leyenda{
    padding-bottom: 5px;
}
.align-right{
    text-align: right !important;
}
.numero-derecha{
    font-size: 40px;
    padding-top: 5px;
}
.valor-declarado{
    font-size: 8px;
}
.constancias-equipaje .nombre,
.constancias-equipaje .direccion{
    font-size: 16px !important;
}
.codigoZebra.tdBorderBottom {
    padding: 0;
    text-align: center;
    height: 137px !important;
    width: 377px !important;
}    
.direccion-full-width{
    width: 100%;
}
td.tdPadding.condicionLeft.sucursal_dist {
    width: auto;
    float: left;
}
td.tdPadding.condicionLeft.sucursal_dist p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #000;
}
td.tdPadding.condicionLeft.sucursal_dist p.title{
    text-transform: initial;
    font-size: 11px;
}
.black{
    color: #000;
}
.banner-zebra .logo{
    float: left;
}
.codigoZebra.tdBorderBottom {
    padding: 0 10mm;
    text-align: center;
}
.numero-sucursal-retiro {
width: 30%;
display: inline-block;
}
.nombre-sucursal-retiro .title {
    font-size: 13px;
    font-weight: 500;
    color: #000;
}
p.label-sucursal-retiro {
    font-weight: 500;
    text-transform: uppercase;
}
.nombre-sucursal-retiro {
width: 70%;
display: inline-block;
}
.label-sucursal-retiro {
font-size: 20px !important;
font-weight: bold;
line-height: 22px !important;
color: #000;
}
.remitente p {
line-height: 11px !important;
}
svg#barcode {
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
rect {
    height: 86px;
    float: left;
    max-height: 200px;
}